html
    head
        meta(charset="utf-8")
        title Домашняя библиотека
        link(rel="stylesheet", href="/public/css/w3.css")
        link(rel="stylesheet", href="/public/css/style.css")

    body(class="w3-content" style="max-width:900px")
        block content
        button(type="button", onclick="scrollToTop(1000);" class="w3-btn w3-ripple w3-white w3-border w3-margin") Наверх
        script(src="/public/js/main.js")
        script(src="/public/js/moment.js")