html
    head
        meta(charset="utf-8")
        title Домашняя библиотека
        link(rel="stylesheet", href="/public/css/w3.css")

    body(class="w3-content" style="max-width:900px")
        block content
        script(src="/public/js/main.js")
        script(src="/public/js/moment.js")