extends base.pug
block content
    div(class="w3-container w3-center")
        h1 Список книг
    div(class="w3-container w3-center")
        button(id="showAllBooks") Все книги
        button(id="showInStockBooks") Книги в наличии
        button(id="showExpiredBooks") Просроченные
        br
        button(id="addBookButton") Добавить книгу
    div(class="w3-container w3-center", id="books-container")

    script(src="/public/js/main.js")